html, body {
    background-color: navy !important;
    margin: 2vw;
    color: black !important;
}


/* SET FONT SIZE FOR SMALLER DISPLAYS */
@media screen and (max-width: 900px) {
    html, body {
        font-size: 3vw;
    }
}

img, video {
    width: 15vw !important;
}

a {
    text-decoration: none !important;
    color: navy !important;
}

h3 {
    font-weight: bold !important;
}

#register-link a {
    padding-left: 1vw;
}

/* CLASSES */
.container {
    background-color: white;
    margin-top: 5vw;
    width: 35vw !important;
    border-radius: 1vw;
    background: rgba(248, 248, 255, 0.7);
}

.form-group {
    margin-top: 1vw;
}

.btn {
    background-color: #0B0B3B !important;
    color: white !important;
    width: 27vw;
    text-align: center;
}

/* ID */
#login {
    padding: 3vw;
}

#login-form {
    width: 27vw;
}

#message {
    color: red !important;
    margin-right: 2vw !important;
}