html, body {
    font-size: 1vw;
    font-family: "Gadugi" !important;
    background-color: navy !important;
    margin: 2vw;
    color: white !important;
    hyphens: auto !important;
    box-sizing: content-box;
}

/* SET FONT SIZE FOR SMALLER DISPLAYS */
@media screen and (max-width: 900px) {
    html, body {
        font-size: 2vw;
    }

    svg {
        width: 3vw !important;
    }
}

/* ICON */
svg {
    color: black;
    width: 2vw;
}

img, video {
    height: 3vw !important;
    width: 9vw !important;
}

a {
    text-decoration: none !important;
    color: black !important;
}

h1 {
    font-weight: bold !important;
}

header {
    margin-bottom: 3vw;
}

/* CLASSES */
.navbar {
    background-color: #0B0B3B;
    position: absolute;
}

.container {
    border: solid black 0px;
    border-radius: 2vw;
    padding: 2vw;
}

.content {
    background-color: white;
    box-sizing: border-box;
    border-radius: 2vw;
    margin: 2vw 2vw 0vw 0vw;
    width: 75vw;
    padding: 1vw 3vw 1vw 3vw;
}

.btn {
    background: rgba(255, 255, 255, 0.7) !important;
    color: black !important;
    border: none !important;
    border-radius: 0.4vw !important;
    margin-left: 0.5vw;
    padding: 0.45vw !important;
}

.search {
    margin-left: 2vw;
}

.exNum {
    width: 40vw;
}

.exNum .btn {
    width: 2vw;
    background-color: red;
}
.weiter {
    position: absolute;
    right: 13vw;
}

.loesung {
    color: red;
}

/* ID */
#search-text {
    color: black;
    width: 20vw;
}

#backButton {
    margin-left: -8vw;
    margin-top: 0.5vw;
    position: fixed;
}

#message {
    font-family: "Copperplate", Fantasy !important;
    color: red !important;
    margin-right: 2vw !important;
}

#aufgabenstellung {
    font-weight: bold;
}
