html, body {
    font-size: 1vw;
    font-family: "Gadugi" !important;
    background-color: navy !important;
    margin: 2vw;
    color: white !important;
    hyphens: auto !important;
    box-sizing: content-box;
}

/* SET FONT SIZE FOR SMALLER DISPLAYS */
@media screen and (max-width: 900px) {
    html, body {
        font-size: 2vw;
    }

    svg {
        width: 3vw !important;
    }
}

/* ICON */
svg {
    color: black;
    width: 1.5vw;
}
/* end ICON */

img, video {
    height: 3vw !important;
    width: 9vw !important;
}

a {
    text-decoration: none !important;
    color: black !important;
}

span {
    font-style: italic;
    font-size: 0.8vw;
}

h1 {
    font-weight: bold !important;
}

header {
    margin-bottom: 3vw;
}

/* CLASSES */
.navbar {
    background-color: #0B0B3B;
    position: absolute;
}

.container {
    border: solid black 0px;
    border-radius: 2vw;
    padding: 2vw;
}

.content {
    color: black;
    background-color: white;
    box-sizing: border-box;
    border-radius: 2vw;
    margin: 2vw 2vw 0vw 0vw;
    width: 75vw;
    height: 67vh;
    padding: 1.5vw 3vw 1.5vw 3vw;
}

.content p {
    margin-top: 1vw;
}

.btn {
    background: rgba(255, 255, 255, 0.7) !important;
    color: black !important;
    border: none !important;
    border-radius: 0.4vw !important;
    margin-right: 1vw !important;
    padding: 0.45vw !important;
}

.search {
    margin-left: 2vw;
}

.form-control {
    margin-bottom: 0.5vw !important;
}

.btn-primary, .btn-secondary {
    color: white !important;
    width: 100% !important;
    position:absolute;
}

.btn-primary {
    background-color: #0B0B3B !important;
    bottom: 1.5vw;
}
.btn-secondary {
    background: rgba(0, 0, 0, 0.3) !important;
    bottom: 5vw;
}

/* ID */
#search-text {
    color: black;
    width: 20vw;
}

#userverwaltung {
    background-color: white !important;
}

/* todo needed?
#message {
    font-family: "Copperplate", Fantasy !important;
    color: red !important;
    margin-right: 2vw !important;
}*/
